<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="1800">
	<Properties>
		<property name="LOG_PATH">/apps/logs</property>
		<property name="FILE_NAME">jftone</property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="DebugLog" fileName="${LOG_PATH}/${FILE_NAME}.log"
				filePattern="${LOG_PATH}/${FILE_NAME}.%d{yyyy-MM-dd}.log">
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<!--SizeBasedTriggeringPolicy size="50MB" /-->
			<TimeBasedTriggeringPolicy />
			<DefaultRolloverStrategy max="7"/>
		</RollingFile>
		<RollingFile name="ErrorLog" fileName="${LOG_PATH}/${FILE_NAME}.log"
				filePattern="${LOG_PATH}/${FILE_NAME}.%d{yyyy-MM-dd}.log">
			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<TimeBasedTriggeringPolicy />
			<DefaultRolloverStrategy max="7"/>
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- 设置对打印sql语句的支持 -->
		<Logger name="org.jftone" level="DEBUG" additivity="false"> 
			<AppenderRef ref="ConsoleLog" /> 
		</Logger>
		<!--建立一个默认的root的logger -->
		<!--Root level="DEBUG"><AppenderRef ref="ConsoleLog"/></Root-->
	</Loggers>
</Configuration>